body {
    font-family: 'Roboto', sans-serif;
}

.main-banner {
    background-image: url(../images/banner320.jpg);
    width: 320px;
    height: 50px;
    border: 1px solid #d9d9d9;
    margin: 15px auto;
}

#content {
    margin-top: -25px;
    padding: 0 0 52px !important;
}

.main-title h2 {
    font-size: 16px;
    margin-top: -20px;
    font-weight: normal;
    line-height: 35px;
}

.main-title h3 {
    font-size: 10px;
    font-weight: normal !important;
    line-height: 5px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 500px) {
    .main-banner {
        background-image: url(../images/banner500.jpg);
        width: 500px;
        height: 75px;
        border: 1px solid #d9d9d9;
        margin: 0 auto;
    }
    #content {
        margin-top: -15px;
    }
    .main-title h2 {
        font-size: 22px;
        margin-top: 5px;
        font-weight: normal;
    }
    .main-title h3 {
        font-size: 14px;
        margin-top: 7px;
        font-weight: normal;
    }
}

@media only screen and (min-width: 750px) {
    .main-banner {
        background-image: url(../images/banner730.png);
        width: 730px;
        height: 90px;
        border: 1px solid #d9d9d9;
        margin: 0 auto;
    }
    #content {
        margin-top: 0;
    }
    .main-title h2 {
        font-size: 28px;
        margin-top: 15px;
        font-weight: normal;
    }
    .main-title h3 {
        font-size: 16px;
        margin-top: 10px;
        font-weight: normal;
    }
}

#main .container {
    text-align: center;
}
